@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #020014;
  background-color: #F6F5FF;
}

body {
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1rem;
}

.header {
  font-size: 1rem;
  margin-left: 4rem;
  padding-left: 6px;
  color: #BDB4CF;
}

.todo {
  display: grid;
  min-height: 3rem;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-areas: "complete todo delete";
  text-align: left;
  font-weight: bold;
  position: relative;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  border-radius: 12px;
  margin: auto auto;
  background-color: #6D53EE;
  font-family: 'Shrikhand', serif;
  font-size: 1rem;
  letter-spacing: 1px;
}

.todo-complete-btn {
  grid-area: complete;
}

.todo-delete-btn {
  grid-area: delete;
}

.todo-complete-btn, 
.todo-delete-btn {
  display: flex;
  align-items: center;
  border: none;
  margin: auto auto;
  background-color: inherit;
  color: #6D53EE;
  font-size: 1.4rem;
}

.todo-text {
  display: flex;
  align-items: center;
  outline: transparent;
  border: 3px transparent solid;
  border-radius: 12px;
  padding: 0 6px;
  margin: 4px 0;
}

.todo-text:focus {
  border: 3px #BDB4CF solid;
}

.input-container {
  display: grid;
  width: 100%;
  height: 3rem;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-areas: "todo todo add";
  padding-left: 4rem;
  margin-bottom: 1.6rem;
  background-color: inherit;
}

.todo-input {
  grid-area: todo;
  background-color: inherit;
  border: 3px transparent solid;
  outline: transparent !important;
  font-size: 1rem;
  padding: 0 6px;
  margin: 4px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.todo-input:focus {
  outline: transparent !important;
  border: 3px #BDB4CF solid !important;
  border-radius: 12px;
}

.add-todo-btn {
  grid-area: add;
  border: none;
  font-size: 1.4rem;
  background-color: inherit;
}

.add-task-btn,
.suggest-task-btn {
  color: #F6F5FF;
  width: 50%;
  font-size: 1rem;
}

.suggested-task-page {
  padding: 0.9rem;
  height: 100vh;
}

.task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.9rem;
  border: 3px #BDB4CF solid;
  border-radius: 12px;
  flex-grow: 1;
  /* margin: auto; */
}

.task-name {
  margin: auto;
  font-size: 1.6rem;
  font-weight: bold;
}

.medal-img {
  display: cover;
  position: absolute;
  top: 15.2rem;
  margin-left: 50vw;
  align-self: last baseline;
  height: 8rem;
  width: 8rem;
  z-index: 1;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 4px;
  opacity: 0.3;
  color: #020014;
  padding-bottom: 1px;
}

.dot {
  font-size: 0.5rem;
}

.buttons-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1.8rem;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 
  "complete complete complete complete"
  "return next next .";
}

.complete-task-btn {
  grid-area: complete;
  height: 5rem;
  border-radius: 12px;
  color: #F6F5FF;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}


.return-btn {
  grid-area: return;
  background-color: inherit;
  color: #6D53EE;
  display: flex;
  border: none;
  justify-content: center;
  font-size: 2rem;
  position: relative;
}

.fa-stack[data-count]:not([data-count=""]):not([data-count="0"]):after{
  content: attr(data-count);
  position: absolute;
  right: 15%;
  top: 12%;
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid #F6F5FF;
  border-radius: 999px;
  color: white;
  background:rgba(255,0,0);
  font-family: 'Poppins', sans-serif;
  font-family: 'Changa One', sans-serif;
  font-size: 0.8rem;
  line-height: 0.9rem;
} 

.return-icon {
  font-size: 2.5rem;
}

.next-btn {
  grid-area: next;
  color: #F6F5FF;
  background-color: rgb(109, 83, 238, 0.7);
  /* opacity: 0.7; */
  font-size: 1rem;
}

.all-tasks-complete {
  background-color: inherit;
  color: #6D53EE;
  opacity: 1;
}

button:hover {
  cursor: pointer;
}

.disabled:hover {
  cursor: initial;
}

.lower-opacity {
  opacity: 0.5;
}