@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #020014;
  background-color: #F6F5FF;
}

body {
  width: 100%;
  height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1rem;
}

.header {
  font-size: 1rem;
  margin-left: 4rem;
  padding-left: 6px;
  color: #BDB4CF;
}

.todos-container {
  width: 100%;
  
}

.todo {
  display: grid;
  min-height: 3rem;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-areas: "complete todo delete";
  text-align: left;
  font-weight: bold;
}

.todo-complete-btn {
  grid-area: complete;
}

.todo-delete-btn {
  grid-area: delete;
}

.todo-complete-btn, 
.todo-delete-btn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  margin: auto auto;
  font-size: 1.4rem;
  color: #6D53EE;
}

.todo-text {
  display: flex;
  align-items: center;
  outline: transparent;
  border: 3px transparent solid;
  border-radius: 12px;
  padding: 0 6px;
  margin: 4px 0;
}

.todo-text:focus {
  border: 3px #BDB4CF solid;
}

.strikethrough {
  text-decoration: line-through;
}

.input-container {
  display: grid;
  width: 100%;
  height: 3rem;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-areas: "todo todo add";
  padding-left: 4rem;
  background-color: #F6F5FF;
}

.todo-input {
  grid-area: todo;
  background-color: inherit;
  border: 3px transparent solid;
  outline: transparent !important;
  font-size: 1rem;
  padding: 0 6px;
  margin: 4px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.todo-input:focus {
  outline: transparent !important;
  border: 3px #BDB4CF solid !important;
  border-radius: 12px;
  
}

.addTodoBtn {
  grid-area: add;
  border: none;
  font-size: 1.4rem;
  background-color: inherit;
}
